body{
    background-image: " assets/background/linear-gradient.svg";
    background: linear-gradient(to left, #0000ff, #dae41f);
}

nav.menu{
    display: flex;
    
}

nav.menu ul li {
    flex-flow: row;
    color: #fff;
}

span .titulo{
    font-size: 15px;
    font-weight: 600;
}

span .card_central{
    
}

span .texto1{
    font-size: 34px;
}

span .texto2{
    font-size: 11px;
}