* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body,
html {
    height: 0%;
}

.container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: Poppins, sans-serif;
    background-color: #1B1F46;
    background-image: url(Gradient2.png);
    background-size: cover;

}

header {
    background-color: #1B1F46;
    opacity: 0.9;

}


nav {
    position: absolute;
    top: 28px;
    right: 150px;

}


nav li {
    position: relative;
    color: #e4e5ee;
    display: inline-block;
    margin: 0 0 0 30px;
    font-size: 18px;
    font-weight: 500;


}

nav li:hover {
    color: #2F98F8;
}



.container1 {
    display: flex;
    flex-direction: row;
}


.container-interno {
    display: flex;
    flex-direction: column;
    width: 800px;
    height: min-content;
    padding: 50px;

}

.paragrafo1 {
    color: #ffffff;


}

.paragrafo2 {
    font-weight: 600;
    font-size: 75px;
    color: #ffffff;


}


.paragrafo3 {
    color: #ffffff;


}



.btn {
    display: flex;
    align-items: flex-start;
    justify-content: space-evenly;
    gap: 25px;
    width: 640px;
    height: fit-content;
    padding-left: 127px;
    margin-left: 519px;
    margin-top: -300px;
}

button {

    width: 306px;
    height: 71px;
}

button:hover{
    background-color: #2F98F8;
    border-color: none;
    color: #1B1F46;

}

.save {
    background-color: transparent;
    border-color: rgb(47, 152, 248);
    border-radius: 10px;
    color: #2F98F8;
    padding: 15px 32px;
    text-align: center;
    display: inline-block;
    font-size: 20px;
    font-weight: 700;

}

.donate {
    background-color: transparent;
    border-color: rgb(47, 152, 248);
    border-radius: 10px;
    color: #2F98F8;
    padding: 15px 32px;
    text-align: center;
    display: inline-block;
    font-size: 20px;
    font-weight: 700;

}

footer{
    position: left;
    top: 935px;    
    padding: 200px;
    padding-left: 589px;
    padding-top: 50px;
    

}

.social-media{
    color: #ffffff;
    font-weight: 500;
}

.medias{
    display: flex;
    flex-direction: row;
    align-items: center;
    color: #ffffff;
    font-weight: 500;

}